  <h1 class="text-center mt-4">Articles listing page</h1>

  <% @articles.each do |article| %>
    <div class="card text-center container mt-4 px-0 col-7 shadow">
      <div class="card-header font-italic">
        By romain
      </div>
      <div class="card-body">
        <h5 class="card-title "><%= link_to article.title, article_path(article), class: "text-success" %></h5>
        <p class="card-text"><%= truncate(article.description, length: 100) %></p>
        <a href="#"> <%= link_to 'View', article_path(article), class:"btn btn-outline-success" %></a>
        <a href="#"> <%= link_to 'Edit', edit_article_path(article), class:"btn btn-outline-info" %></a>
        <a href="#"> <%= link_to 'Delete', article_path(article), class:"btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %></a>
      </div>
      <div class="card-footer text-muted">
        <small> Created <%= time_ago_in_words(article.created_at) %> ago,
        edited <%= time_ago_in_words(article.updated_at) %> ago </small>
      </div>
    </div>
  <% end %>
  <div class="mb-4"></div>
  <button type="button" class="btn btn-outline-light btn-lg"><%= link_to 'Create new article', new_article_path %></button>
